---
- name: Install nginx
  ansible.builtin.dnf:
    name: nginx
    state: present
  become: true

- name: Reload systemd unit files
  ansible.builtin.systemd:
    daemon_reload: true
  become: true

- name: Enable and start nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true
  become: true

- name: Place a simple homepage
  ansible.builtin.copy:
    src: index.html
    dest: /usr/share/nginx/html/index.html
    owner: root
    group: root
    mode: "0644"
  become: true


